<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>

<h1>Them moi khach hang</h1>
<form action="/employee-added" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="fullName" id="name">
    </div>
    <div>
        <label for="birthday">Birthday</label>
        <input type="date" name="dob" id="birthday">
    </div>
    <input type="submit" value="ADD">
</form>
</body>
</html>