
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Category</title>
    <script>
        function confirmDelete() {
            return confirm("Category này hiện đang có sản phẩm. Bạn có chắc chắn muốn chuyển trạng thái của nó và các sản phẩm thuộc nó không?");
        }
    </script>
</head>
<body>
<h1>Danh sách Category</h1>
<a href="/category-add">+ ADD NEW</a>
<table border="10" cellspacing="0" cellpadding="10">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Status</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c, loop : ${categories}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.status} ? 'Active' : 'Inactive'"></td>
        <td><a th:href="|/edit/${c.id}|">Edit</a></td>
        <td>
            <form th:action="|/category/delete/${c.id}|" method="post" style="display:inline;">
                <input type="hidden" name="confirm" value="true">
                <input type="submit" value="Delete" onclick="return confirmDelete();">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
