<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<!--cú pháp timeleaf-->
<!--
c1:${biểu thức}
c2: *{thuộc tính (of obj)}
#{thông điêp - file cấu hình dưới dạng .properties}
@{URL: các thẻ image, audio, a, ...}
~{Fragment}: hco phép cắt giao diện thành những giao diện cần dùng ở các file
-->

<h1>HOME, Thymeleaf</h1>
<h2>
    <a href="/products">BT1</a>
</h2>
<p th:text="|Tôi tên là ${name}, năm nay ${age} tuổi|"></p>

<p th:if="${age}>=18">Đủ tuổi</p>
<p th:unless="${age}<18">Chưa đủ tuổi</p>

<th:block th:switch="${age}">
    <a href="" th:case="18">Tuổi thành niên</a>
    <a href="" th:case="11">Vị thành niên</a>
    <a href="" th:case="10">Thanh niên</a>
    <a href="" th:case="*">Không xác định</a>

</th:block>
<ul>
    <th:block th:each="num : ${numbers}">
        <li th:text="${num}"></li>
    </th:block>
</ul>

<!-- Sử dụng sequence -->
<ul>
    <th:block th:each="num, loop : ${#numbers.sequence(1, 5)}">
        <li th:text="|${num} - ${loop.index}|"></li>
    </th:block>
</ul>
</body>
</html>