<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>list-product</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Image</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td><img th:src="${product.image}" th:alt="${product.name}"/></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.status ? 'Active' : 'Inactive'}"></td>
        <td>
            <a th:href="@{/products/{id}/edit(id=${product.id})}">Chỉnh sửa</a>
            |
            <a th:href="@{/products/{id}/delete(id=${product.id})}">Xoá</a>
            |
<!--            <a th:href="@{/order/add-to-cart/{id}(id=${product.id})}">Thêm vào giỏ hàng</a>-->
            <a th:href="@{/products/{id}/detail(id=${product.id})}">Chi tiết</a>

        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/products-add}">Thêm mới</a>

</body>
</html>